
# ---- Android ----
# Assets
android/app/src/main/assets/

# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# macOS
.DS_Store

# Generated
captures/
.externalNativeBuild/
.cxx/

# Checksums / caches
*.checksum

# ---- iOS ----
# Xcode user data
xcuserdata/
*.xcuserstate

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/
